{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>My QRCode</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/user_qrcode_list.css' %}">
{% endblock %}

{% block content %}
{% if have_the_right_of_access %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">URL / Message</th>
            <th scope="col">Created_at</th>
        </tr>
        </thead>
        <tbody>
        {% for qrcode in qrcode_list %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td><a href="{% url 'qrcode:qrcode_detail' qrcode.id %}" style="text-decoration:none;">{{ qrcode.name }}</a></td>
            <td>{{ qrcode.url_or_message }}</td>
            <td>{{ qrcode.created_at }}</td>
        </tr>
        {% empty %}
        <tr>
            <th scope="row">0</th>
            <td>You have not yet created a QRCode.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>Only user who made this qrcode have access to this view</p>
{% endif %}
{% endblock %}  
