{% extends 'base.html' %}

{% block title %}
<title>QRCode Maker Home</title>
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class=" p-5 rounded">
        <div class="col-sm-8 py-5 mx-auto">
            <h1 class="display-5 fw-normal" style="text-align:center; margin-bottom:10px;">Make Your Own QRCode.</h1>
            <p style="text-align:center; margin-bottom:150px; font-weight:40px;">You can make your qrcode and look back at it at any time!</p>
            <!-- Form Start-->
            {% if user.is_authenticated %}
                <form method="post" class="mt-4">
                    {{ create_qrcode_form.non_field_errors }}
                    {% csrf_token %}

                    <!-- QRCodeのurl_or_message入力 -->
                    <div class="form-floating mb-3">
                        {{ create_qrcode_form.url_or_message }}
                        <label for="floatingInput">Enter URL or Message</label>
                    </div>
                    {{ create_qrcode_form.url_or_message.errors }}
    
                    <!-- QRCodeのName入力 -->
                    <div class="form-floating mb-5">
                        {{ create_qrcode_form.name }}
                        <label for="floatingPassword">Enter QRCode name</label>
                    </div>
                    {{ create_qrcode_form.name.errors }}
                    <div class="d-grid">
                        <button type="submit" class="btn btn-lg btn-primary">Create QRCode</button>
                    </div>
                </form>
            {% else %}
                <div class="d-flex justify-content-center">
                    <p class="h3">
                        <a href="{% url 'accounts:login' %}">Login</a> to make your own QRcode
                    </p>
                </div>
            {% endif %}
            <!-- Form END -->
        </div>
    </div>
</div>
{% endblock %}  
